---
import { Icon } from "astro-icon/components";
import { formatDate } from "../../lib/helpers";
import TooltipHover from "../TooltipHover";

interface Props {
  title: string;
  date: string;
  url: string;
  languages: string[];
  type: string;
}

const { title, date, url, languages, type } = Astro.props;

function LangIcon(language: string) {
  switch (language) {
    case "Astro":
      return "tabler:brand-astro";
    case "JavaScript":
      return "logos:javascript";
    case "TypeScript":
      return "logos:typescript-icon";
    case "Tailwind":
      return "devicon:tailwindcss";
    case "Next":
      return "devicon:nextjs";
    case "React":
      return "logos:react";
    case "Redwood":
      return "logos:redwoodjs";
    case "Python":
      return "logos:python";
    case "Prisma":
      return "simple-icons:prisma";
    case "GraphQL":
      return "logos:graphql";
  }
}
---

<li class="w-full text-neutral-100 group hover:text-neutral-400 ease-in-out transition-colors border-b-neutral-400 border-dashed border-b-1 my-2">
  <a
    class="text-sm md:text-base decoration-none flex justify-between"
    href={`/projects/${url}`}
  >
  <div class="flex flex-row">
    <p class="inline-block whitespace-nowrap ">
      {title}
    </p>
    <p class="text-neutral-400 mx-2">--</p>
    <p class="text-neutral-400">{type}</p>
    <p class="text-neutral-400 mx-2">--</p>
    <p class="text-neutral-400">{date}</p>
  </div>
  <span class="ml-2">
    {languages.map((language) => (
        <TooltipHover language={language} client:visible>
          <span class={`hover:bg-red-500 group-hover:opacity-70 p-0.5 m-0.5 rounded-sm w-5 h-5 flex items-center justify-center ${(language == "Astro" || language == "Prisma") ? "text-white" : ""} `}>
            <Icon name={LangIcon(language)} class="h-4 w-4 rounded-sm" />
          </span>
        </TooltipHover>
    ))}
  </span>
  </a>
</li>
